﻿@page

@inject IConfiguration _configuration;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Public v1.4</h1>
    <h2>Database: @_configuration.GetConnectionString("DefaultConnection")</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
